In [1]:
import backtrader as bt
import pandas as pd
import yfinance as yf

In [2]:
stock = yf.Ticker('AAPL')
hist = stock.history(start="2023-01-01", interval="1h")
hist = pd.DataFrame(hist)

# Convert to UTC
hist.index = hist.index.tz_localize(None)

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-01-03 09:30:00,129.770004,130.899994,125.230003,125.459999,27775505,0.0,0.0
2023-01-03 10:30:00,125.459999,125.870003,124.730003,125.345001,18104999,0.0,0.0
2023-01-03 11:30:00,125.350197,125.370003,124.349098,124.660004,11248777,0.0,0.0
2023-01-03 12:30:00,124.660004,124.940002,124.190002,124.649902,8860080,0.0,0.0
2023-01-03 13:30:00,124.669899,125.000000,124.190002,124.570000,8388062,0.0,0.0
...,...,...,...,...,...,...,...
2024-03-13 15:30:00,171.279999,171.705002,171.039993,171.169998,5993931,0.0,0.0
2024-03-14 09:30:00,172.380005,173.824997,172.210007,173.664993,8411095,0.0,0.0
2024-03-14 10:30:00,173.669998,174.307800,173.300003,173.339996,11661203,0.0,0.0
2024-03-14 11:30:00,173.345001,173.485001,172.404999,172.660004,4485503,0.0,0.0
2024-03-14 12:30:00,172.675003,173.369202,172.240005,172.675003,5095465,0.0,0.0

In [3]:
hist.to_csv('aapl_localised.csv')

In [4]:
aapl_localised_csv_parsed = bt.feeds.GenericCSVData(
    dataname='aapl_localised.csv',
    datetime=0,
    open=1,
    high=2,
    low=3,
    close=5,
    volume=6,
    openinterest=-1,
    dtformat='%Y-%m-%d %H:%M:%S',
    # timeframe=bt.TimeFrame.Minutes
)

In [5]:
cerebro = bt.Cerebro()

In [6]:
cerebro.adddata(aapl_localised_csv_parsed)

In [16]:
cerebro.run()
cerebro.plot(iplot=False)

[[<Figure size 640x480 with 4 Axes>]]